@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

#main_logo {
    border: dashed;
    text-align: center;
    width: 25%;
    float: center;
    border-radius: 99px;
    vertical-align: center;
    border-color: #cfc6b0;
    background-color: #212326;
}

#logo_title{
    color: #ad8821;
}

body {
    background-color: #121212;
}

.option_boxes {
  transition: transform .2s; /* Animation */
    border: solid;
    background-color: #153a6b;
    z-index: 9999;
    height: 70vh;
    width: 30%;
    border-radius: 20px;
    float: left;
    margin-left: 3vh;
    margin-right: 10px;
    margin-top: 8vh;
    box-shadow: 8px 8px #00060d;
    border-color: white;
}

.option_boxes:hover {
  transform: scale(1.065);
}

.optionbox_labels {
    color:white;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    padding-bottom: 0px;

}

#to_cps {
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    width: 90%;
    font-family: 'Sometype Mono', monospace;
    height: 10vh;
    font-size: 30px;
    background-color: #020566;
    color: white;
}

.inner_button_layout {
    display: flex;
    align-items: center;
    justify-content: center;
}

#first {
    width: 160vh;
    height: 100vh;
    float: left;
}

#second {
    float: left;
    width: 160vh;
    height: 100vh;
}


.option_images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 10%;
    border-radius: 50px;
}

#ubd {
    height: 96.28vh;
    border: none;
    width: 99vw;
    border-radius: 0px;
}

body{
  font-family: 'Lato', sans-serif;
}

.wrapper{
  position: relative;
}

.link_wrapper{
  position: relative;
  margin-top: 18%;
}

a{
  display: block;
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  background: #333;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid green;
  transition: all .35s;
}

.icon{
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  transition: all .35s;
}

.icon svg{
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: #2ecc71;
  transition: all .35s;
}

a:hover{
  width: 200px;
  border: 3px solid #2ecc71;
  background: transparent;
  color: #2ecc71;
}

a:hover + .icon{
  border: 3px solid #2ecc71;
  right: -25%;
}

h1 {
  color: white;
  font-size: 42px;
}

.inputs {
  border-radius: 20px;
  border: none;
  width: 30vw;
  height: 5vh;
  margin-bottom: 10px;
  font-family: 'Lato', sans-serif;
}

h2 {
  color: white;
}

#set_tab_info {
  width: 16vw;
  height: 5vh;
  background-color: #292fe4;
  border-radius: 15px;
  border: none;
  color: white;
  transition-duration: 350ms;
}

#set_tab_info:hover {
  background-color: #d7d7dc;
  color: black;
}